{% extends 'base.html.twig' %}

{% block body %}
    <br>



        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="button">Voir la liste des joueurs</button>
            <button class="btn btn-lg btn-primary" type="button">Voir le programme</button>
            <button class="btn btn-lg btn-primary" type="button">Acheter une place</button>
        </div>


{% endblock body %}